<!DOCTYPE html>
<htmL>
    <form action="/links" method="post">
        <input type="text" name="Name" placeholder="Name" autofocus required>
        <input type="url" name="url" placeholder="url" required>
        <button type="submit">Add</button>
    </form>
</htmL>
