<h1>Add New User</h1>

<form action="/users" method="post">
  Email
  <input type="text" name="email">
  Password
  <input type="password" name="password">
  <input type="submit" value="Create account">
</form>
