<form action="/links" method="post">
  <label for="title">
    <input type="text" name="Title" placeholder="Title" />
  </label>
  <label for="url">
    <input type="text" name="url" placeholder="URL"/>
  </label>
  <label>
    <input type="text" name="tags" placeholder="Tags"/>
  </label>
  <input type="submit" value="Submit">
</form>
