<!DOCTYPE html>
<html>

  <head>
    <title>Bookmark Manager</title>
  </head>

  <body>
    <h1>Bookmark Manager</h1>

    <% if current_user %>
      Welcome <%= current_user.email %>
    <% end %>

    <%= yield %>
  </body>
</html>
