<!DOCTYPE html>
<html>

<head>
  <title>Book Mark Manager</title>
</head>

<body>
  <h1>Links</h1>

  <form action="/links/new">
    <input type="submit" value="Add another link">
  </form>

  <form action="/users/new">
    <input type="submit" value="Sign up">
  </form>


  <ul id="links">
    <% @links.each do |link| %>
    <li>
      Title:  <%= link.title %>
      URL:    <%= link.url %>
      <% tags_to_display = link.tags.map(&:name) %>
      Tags:   <%= tags_to_display.join(', ') %>
    </li>
    <% end %>
  </ul>
</body>



</html>
